nav{
    background-color: lightgrey;
}
body{
    background-color: #EFEDE2;
}
.footer {
    background-color: lightgrey;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    padding: 15px 0px 0px 15px;
}
.footer .footer-center .footer-left {
    display: inline-block;
    vertical-align: top;
}

.footer .footer-left{
    width: 50%;
    float: left;
}

.links{
    color: black;
    padding: 0;
    text-decoration: none;
}
.links a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
.footer .links a:before{
    content: " | ";
    display: inline-block;
}
.footer .links .prvy:before{
    content: none;
}
.footer .footer-center{
    width: 50%;

    float: left;
}

.footer-center i{
    width: 50px;
    height: 40px;
    text-align: center;
    margin: 10px 10px;
    vertical-align: middle;
}
.footer-center p{
    display: inline-block;
    vertical-align: middle;
}
.footer-center p span{
    display:block;
}


@media (max-width: 900px){
    .footer-center{
        float: none;
        clear:both;

    }
    .footer-center .footer-left{
        text-align: center;
        width: fit-content;
    }
    .footer-left{
        margin-left:20px;
    }
}

.center{
    text-align: center;
}
.wraper{
    width: 100%;
    position: relative;
}
.textpadding{
    margin-left: 20px;
    margin-right: 20px;
}
.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.textmiddle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.wraper:hover .backgroundimg {
    opacity: 0.3;
}

.wraper:hover .textmiddle {
    opacity: 1;
}
.text{
    /*background-color: #04AA6D;*/
    background-color: #0b5ed7;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.backgroundimg{
    background-image: url("https://scontent-vie1-1.xx.fbcdn.net/v/t39.30808-6/240797087_4471562862910251_1814622373591899848_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=4pO4d55r2skAX-N58or&_nc_ht=scontent-vie1-1.xx&oh=00_AT8qJAmijdhGlI3cGzo8Ru7TgKEnRYYGOE9wMJOEsCTzVw&oe=634F1EE5") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;

}

.cardpadding{
    padding: 40px;
}

.contactCenter{
    border: 3px solid green;

}
.my-form {
    color: #305896;
}
.my-form .btn-default {
    background-color: #305896;
    color: #fff;
    border-radius: 0;
}
.my-form .btn-default:hover {
    background-color: #4498C6;
    color: #fff;
}
.my-form .form-control {
    border-radius: 0;
}
h1{
    padding-top: 15px;
}

/*contactus*/
.top-padding{
    padding:10px 10px 10px 10px ;
}
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact4 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.contact4 h1, .contact4 h2, .contact4 h3, .contact4 h4, .contact4 h5, .contact4 h6 {
    color: #3e4555;
}

.contact4 .font-weight-medium {
    font-weight: 500;
}

.contact4 .form-control {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact4 .form-control:focus {
    border-color: #ffffff;
}

.contact4 input::-webkit-input-placeholder,
.contact4 textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}


.contact4 input::placeholder,
.contact4 textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.contact4 .right-image {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

.contact4.bg-info {

}

.contact4 .text-inverse {
    color: #3e4555;
}

@media (min-width: 1024px) {
    .contact4 .contact-box {
        padding: 80px 105px 80px 0px;
    }
}

@media (max-width: 767px) {
    .contact4 .contact-box {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1023px) {
    .contact4 .right-image {
        position: relative;
        bottom: -95px;
    }
}
.container{
    background-color: #EFEDE2;
}
/*end*/